<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

      <!-- Font Awesome -->
      <script src="https://kit.fontawesome.com/0a4dc32e23.js" crossorigin="anonymous"></script>     

      <!--CSS links-->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    
      <!-- Your own CSS -->
      <link rel="stylesheet" href="./styles.css" type="text/css">
      <link rel="shortcut icon" href="./Logo1.png" type="image/x-icon" />


    <title>Zhuli</title>
</head>
<body>


    <div class="middle_page">

        <div class="container about_us">
          <div class="row">
            <div class="col-lg-6 img_sobre_nosotros">
              <img src="./Logo1.png" class="img_sobre_nosotros" alt="">

            </div>
            <div class="col-lg-6 sobre_nosotros">
              <h1 class="sobre_nosotros"><b>Sobre Zhuli</b></h1>
              <p class="sobre_nosotros"> 
                Zhuli es una aplicación online que busca mejorar los servicios de salud en México a través
                de una plataforma que asiste el proceso de consultas médicas.  
              </p>
              <p class="sobre_nosotros"> 
                La aplicación le da acceso a los pacientes a una red de doctores especialistas de alto nivel.  
              </p> 

              <p class="sobre_nosotros"> 
                A través de la aplicación, los doctores pueden administrar sus consultas, llevar un registro
                clínico de sus pacientes y reforzar sus diagnósticos con análisis de datos.  
              </p> 
              <p class="sobre_nosotros"> 
                Zhuli es una aplicación online <b>totalmente gratuita</b> para los doctores. 
              </p> 

            
              
            </div>
          </div>
        </div>
        <div class="container nuestro_enfoque">
          <div class="row nuestro_enfoque">
            <div class="col-lg-12">
              <h1 class="nuestro_enfoque"><b>Nuestro Enfoque</b></h1>
            </div>
          </div>
          <div class="row team">
            <div class="col-lg-4 nuestro_enfoque">
              <div class="card nuestro_enfoque" style="width: 18rem;">
                <i class="fas fa-clinic-medical fa-2x"></i>
                <div class="card-body">
                  <h5 class="card-title"> <b>De Negocios</b> </h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div> 
            <div class="col-lg-4 nuestro_enfoque">
              <div class="card nuestro_enfoque" style="width: 18rem;">
                <i class="fas fa-code fa-2x"></i>
                <div class="card-body">
                  <h5 class="card-title"><b>Analytics</b></h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div> 
            <div class="col-lg-4 nuestro_enfoque">
              <div class="card nuestro_enfoque" style="width: 18rem;">
                <i class="fas fa-smile fa-2x"></i>
                <div class="card-body">
                  <h5 class="card-title"><b>CX</b></h5>
                  <p class="card-text"></p>
                </div>
              </div>    
            </div>
          </div>
        </div>
     

    </div>



    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>