
    <div class="middle_page">

        <div class="container about_us">
          <div class="row">
            <div class="col-lg-6 img_sobre_nosotros">
              <img src="./Logo1.png" class="img_sobre_nosotros" alt="">

            </div>
            <div class="col-lg-6 sobre_nosotros">
              <h1 class="sobre_nosotros"><b>Sobre Zhuli</b></h1>
              <p class="sobre_nosotros"> 
                Zhuli es una aplicación online que busca mejorar los servicios de salud en México a través
                de una plataforma que asiste el proceso de consultas médicas.  
              </p>
              <p class="sobre_nosotros"> 
                La aplicación le da acceso a los pacientes a una red de doctores especialistas de alto nivel.  
              </p> 

              <p class="sobre_nosotros"> 
                A través de la aplicación, los doctores pueden administrar sus consultas, llevar un registro
                clínico de sus pacientes y reforzar sus diagnósticos con análisis de datos.  
              </p> 
              <p class="sobre_nosotros"> 
                Zhuli es una aplicación online <b>totalmente gratuita</b> para los doctores. 
              </p> 

            
              
            </div>
          </div>
        </div>
        <div class="container nuestro_enfoque">
          <div class="row nuestro_enfoque">
            <div class="col-lg-12">
              <h1 class="nuestro_enfoque"><b>Nuestro Enfoque</b></h1>
            </div>
          </div>
          <div class="row nuestro_enfoque">
            <div class="col-lg-4 nuestro_enfoque">
              <div class="card nuestro_enfoque" style="width: 18rem;">
                <i class="fas fa-clinic-medical fa-2x nuestro_enfoque"></i>
                <div class="card-body">
                  <h5 class="card-title"> <b>Management</b> </h5>
                  <p class="card-text">Buscamos mejorar la gestión clínica, Zhuli está diseñada
                  para optimizar la gestión detrás de un consultorio.
                  </p>
                </div>
              </div>
            </div> 
            <div class="col-lg-4 nuestro_enfoque">
              <div class="card nuestro_enfoque" style="width: 18rem;">
                <i class="fas fa-code fa-2x nuestro_enfoque"></i>
                <div class="card-body">
                  <h5 class="card-title"><b>Analytics</b></h5>
                  <p class="card-text">Somos una empresa de análisis de datos, Zhuli incorpora tableros 
                  de indicadores que refuerzan los diagnósticos clínicos. 
                  </p>
                </div>
              </div>
            </div> 
            <div class="col-lg-4 nuestro_enfoque">
              <div class="card nuestro_enfoque" style="width: 18rem;">
                <i class="fas fa-smile fa-2x nuestro_enfoque"></i>
                <div class="card-body">
                  <h5 class="card-title"><b>CX</b></h5>
                  <p class="card-text">Creemos que los usuarios son lo más importante, Zhuli tiene 
                  como prioridad maximizar su experiencia y satisfacción.</p>
                </div>
              </div>    
            </div>
          </div>
        </div>
     

    </div>



 