    <div class="middle_page">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 nuevo_usuario">
            <h1 class="nuevo_usuario"><b>¡Bienvenido!</b></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 nuevo_usuario">
            <p class="nuevo_usuario"><b>Zhuli:</b> Gracias por darme la oportunidad de asistirte. 
            Cuéntame qué tipo de perfil tienes.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 nuevo_usuario">
            <div class="jumbotron cliente">
              <hr class="my-4">
              <a class="btn btn-primary btn-lg btn-custom cliente" href="/new_customer" role="button">Soy Cliente</a>
            </div>

          </div>
          <div class="col-lg-6 nuevo_usuario">
            <div class="jumbotron doctor">
              <hr class="my-4">
              <a class="btn btn-primary btn-lg btn-custom doctor" href="/new_doctor" role="button">Soy Doctor</a>
            </div>
            
          </div>
        </div>
      </div>

    </div>

