    <div class="middle_page">   
       <div class="container">
            <div class="row nuevo_usuario">
                <div class="col-lg-12 nuevo_usuario">
                    <h1 class="nuevo_usuario"><b>¡El perfíl fue creado con éxito!</b></h1>
                </div>
            </div>

            <div class="row nuevo_usuario">
                <div class="col-lg-12 nuevo_usuario">
                    <p class="nuevo_usuario"><b>Zhuli:</b> Gracias por realizar el registro, ahora puedes iniciar sesión y crear tu 
                    agenda de consultas. 
                    </p>
                </div>
            </div>

            <div class="row nuevo_usuario">
                <div class="col-lg-12 nuevo_usuario">
                    <p><a href="/" class="btn btn-primary btn-custom">Inicio</a></p>                
                </div>
            </div>


    </div>
</div>
