    <div class="middle_page">   
       <div class="container">
            <div class="row nuevo_usuario">
                <div class="col-lg-12 nuevo_usuario">
                    <h1 class="nuevo_usuario"><b>Error de registro</b></h1>
                </div>
            </div>

            <div class="row nuevo_usuario">
                <div class="col-lg-12 nuevo_usuario">
                    <p class="nuevo_usuario"><b>Zhuli:</b> Al parecer ya existe un usuario registrado con ese email.
                    
                    </p>
                </div>
            </div>

            <div class="row nuevo_usuario">
                <div class="col-lg-12 nuevo_usuario">
                    <p><a href="/" class="btn btn-primary btn-custom">Inicio</a></p>                
                </div>
            </div>


    </div>
</div>
