/*div{
    border: 0.1px dashed black;
}*/

body{
    /*background-color: #fbffb8;*/
    background-color: #f7f8f4;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: normal;
}

.container {
    padding-top: 1rem;
}


div.top_page{
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    
}

div.middle_page{
    top: 3rem;
    font-size: 1.5rem;
    padding-top: 15px;
}

.navbar{
    font-size: 1.5rem;
}

div.nuestro_enfoque{
    padding-top: 2.5rem;
    text-align: center;
    align-items: center;
    border: 0px dashed black;
/*    background-color: #fbffb8;*/
    background-color: #f7f8f4;

}
div.row.nuestro_enfoque{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}

div.sobre_nosotros{
    text-align: center;
    align-items: center;
}

div.img_sobre_nosotros{
    align-content: center;
}
img.img_sobre_nosotros{
    max-width: 100%;
}

div.nuevo_usuario{    
    text-align: center;
    align-items: center;
}

p.card-text{
    font-size: 1rem;
}

.pie_pagina{    
    text-align: center;
}
.container.footer {
    padding-top: 0rem;
}

.pie_pagina_icon{
    padding-top: 15px;
    padding-bottom: 15px; 
}

img.pie_pagina{
    max-width: 20%;
}

.jumbotron.cliente{
    background-image: url("./Clientes.png");
    background-size: 100% 97%;
    opacity: 1;
    padding-top: 25rem;
    padding-bottom: 1rem;
}

.jumbotron.doctor{
    background-image: url("./Doctores.png");
    background-size: 100% 90%;
    opacity: 1;
    padding-top: 25rem;
    padding-bottom: 1rem;
}

.btn-custom {
  color: #f7f8f4;
  background-color: #66c6b4;
  border-color: #66c6b4;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #478a7d;
  border-color: #3d766c;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #66c6b4;
  border-color: #66c6b4;
}

.row.nuevo_usuario{
    display: inline;
}